@use './fonts.scss';
@use './variables.scss';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family-inter);
}

.header {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px 1fr;

    /// --- Banner ---
    .banner {
        width: 100%;
        height: 100%;
        grid-column: 1 / span 3;
        display: flex;
        align-items: center;
        background-color: var(--color-negro);
        overflow-x: auto;

        &::-webkit-scrollbar {
            display: none;
        }

        .banner-contenedor {
            width: 100%;
            max-width: 100%;
            height: auto;
            display: flex;

            .banner-logo {
                height: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0.5rem 0;
                animation: desplazamiento 8s infinite linear;

                .banner-img {
                    width: 40px;
                    height: 40px;
                    object-fit: contain;
                    padding: .25rem;
                    margin: 0 .8rem;
                }

                .banner-texto {
                    color: var(--color-blanco);
                    font-family: var(--font-family-montserrat);
                    font-size: var(--font-subtitle);
                    font-weight: var(--font-weight-medium);

                    span {
                        font-size: 2rem;
                        margin: 0 .25rem 0 0;
                        font-style: italic;
                        font-weight: var(--font-weight-regular);
                    }
                }

                @keyframes desplazamiento {
                    from {
                        transform: translateX(0);
                    }

                    to {
                        transform: translateX(-100%);
                    }
                }
            }
        }
    }

    // --- Fin Banner ---

    // --- Menu ---

    .nav {
        grid-row: 2;
        grid-column: 1;
        display: flex;
        align-items: center;
        padding-left: 1.25rem;
        margin-top: 1rem;

        .nav__toggle {
            display: block;
            background-color: transparent;
            border: none;
            cursor: pointer;

            span {
                font-family: var(--font-family-roboto);
                font-size: var(--font-size-large);
                font-weight: var(--font-weight-medium);
            }

        }

        .activo {
            display: none;
        }

        .nav__list {
            width: 100vw;
            height: 100vh;
            list-style: none;
            position: absolute;
            top: 8rem;
            left: 0;
            padding-left: 1.25rem;
            padding-top: 1rem;
            background-color: var(--color-blanco);
            z-index: 10;
            transition: opacity .5s ease, transform .5s ease;

            &.sliding-in-list {
                animation: slideInList .5s ease forwards;
            }

            @keyframes slideInList {
                from {
                    opacity: 0;
                    transform: translateY(-20px);
                }
                to{
                    opacity: 1;
                    transform: translateY(0);
                }
            }

            &.sliding-out-list {
                animation: slideOutList .3s ease forwards;
            }

            @keyframes slideOutList {
                to {
                    opacity: 0;
                    transform: translateY(-20px);
                }
            }


            .nav__item {
                width: 100%;
                cursor: pointer;
                transition: color .3s ease;
                margin-bottom: 2.5rem;

                a {
                    text-decoration: none;
                    text-transform: uppercase;
                    color: var(--color-negro);
                    font-weight: var(--font-weight-medium);
                    font-size: var(--font-subtitle);
                }
            }

        }
    }

    .logo-principal {
        width: auto;
        max-height: 60px;
        grid-row: 2;
        grid-column: 2;
        margin: 0 auto;
        margin-top: 1rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        cursor: pointer;

        .logo-principal__img {
            width: 40px;
            padding-top: .25rem;
            object-fit: contain;
        }

        .logo-principal__text {
            font-family: var(--font-family-montserrat);
            font-size: var(--font-size-small);
            font-weight: var(--font-weight-regular);
        }
    }

    .menu-carrito {
        width: 100%;
        grid-row: 2;
        grid-column: 3;
        margin-top: 1rem;
        display: flex;
        justify-content: end;
        align-items: center;
        padding-right: 1.25rem;

        .carrito-contenedor {
            display: flex;
            align-items: center;
            color: var(--color-negro);
            cursor: pointer;
            position: relative;
            transition: color .3s ease;

            i {
                font-size: 2rem;
                padding-right: .25rem;

                &::after {
                    content: '';
                    position: absolute;
                    bottom: -5px;
                    left: 0;
                    width: 110%;
                    height: 1px;
                    background-color: var(--color-negro);
                    transform: scalex(0);
                    transform-origin: bottom left;
                    transition: transform .3s ease-out;
                }

                &:hover::after {
                    transform: scaleX(1);
                }
            }

            .carrito-cantidad {
                font-size: var(--font-size-medium);
                font-weight: var(--font-weight-regular);
                padding-left: .25rem;
                border-left: 1px solid var(--color-gris-oscuro);
            }



        }
    }

    @media (min-width: 1001px) {
        .nav {

            .nav__toggle {
                display: none;
            }

            .nav__list {
                position: static;
                width: 100%;
                height: 100%;
                padding: 0;
                list-style: none;
                display: flex;
                align-items: center;
                justify-content: start;

                .nav__item {
                    width: auto;
                    margin: 0 1.5rem 0 0;
                    cursor: pointer;
                    position: relative;
                    transition: color .3s ease;

                    a {
                        width: auto;
                        text-decoration: none;
                        color: var(--color-negro);
                        font-weight: var(--font-weight-medium);
                        font-size: var(--font-size-small);

                        &::after {
                            content: '';
                            position: absolute;
                            bottom: -10px;
                            left: 0;
                            width: 100%;
                            height: 1px;
                            background-color: var(--color-negro);
                            transform: scalex(0);
                            transform-origin: bottom left;
                            transition: transform .3s ease-out;
                        }

                        &:hover::after {
                            transform: scaleX(1);
                        }
                    }


                }


            }

        }
    }

}

.main-contenedor {
    width: 100%;
    margin-top: 1rem;
    padding-left: 1rem;

    .encabezado {
        font-family: var(--font-family-montserrat);
        font-weight: var(--font-weight-medium);
        font-size: var(--font-title);
        letter-spacing: -2px;
        margin-bottom: 1rem;
    }

    .tienda-contenedor {
        width: 95%;
        height: auto;

        .tienda-data {
            display: flex;
            text-transform: uppercase;
            font-size: var(--font-size-small);

            .data-tipo {
                color: var(--color-gris-oscuro);
                letter-spacing: -1px;
            }

            .data-categoria {
                padding-left: .25rem;
            }
        }

        .tienda-productos {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fit, 15rem);
            gap: 1.25rem;
            padding: 1.25rem 1.25rem 1.25rem 0;
            justify-content: center;

            .card {
                width: 100%;
                height: auto;
                overflow: hidden;
                cursor: pointer;
                border-radius: .5rem;
                background-color: var(--color-gris-claro);

                .card-contenedor {
                    min-height: 380px;
                    max-height: 400px;
                    display: flex;
                    flex-direction: column;
                    border-radius: .5rem;

                    .card-titulo {
                        background-color: var(--color-gris-tenue);
                        border-radius: .5rem .5rem 0 0;
                        z-index: 2;
                        height: auto;
                        padding: .8rem .5rem .5rem;
                        display: flex;
                        align-items: center;
                        font-size: var(--font-size-xsmall);
                        letter-spacing: -1px;
                        text-transform: uppercase;
                        cursor: pointer;

                        .card-titulo__categoria,
                        .card-titulo__stock {
                            background-color: var(--color-negro);
                            border-radius: 2rem;
                            color: var(--color-blanco);
                            padding: .1rem .5rem;
                            font-weight: var(--font-weight-regular);
                        }

                        .card-titulo__stock {
                            background-color: var(--color-gris-claro);
                            color: var(--color-negro);
                            margin-left: .3rem;
                            font-size: var(--font-size-small);
                        }
                    }

                    .card-img {
                        aspect-ratio: 1 / 1;
                        margin-top: -2.5rem;
                        overflow: hidden;
                        background-color: var(--color-gris-tenue);
                        border-radius: .5rem;

                        .card-img__producto {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            transform: scale(1.1);
                        }
                    }

                    .card-info {
                        width: 90%;
                        margin: 0 auto;
                        margin-top: .8rem;

                        .card-info__nombre {
                            width: 100%;
                            font-size: var(--font-size-small);
                            font-family: var(--font-family-roboto);
                        }

                        .card-info__precio {
                            font-family: var(--font-family-roboto);
                            color: var(--color-gris-profundo);
                            font-size: var(--font-size-small);
                        }
                    }

                    .button-primario {
                        text-decoration: none;
                        margin: 1rem auto;
                        margin-top: auto;
                        font-family: var(--font-family-montserrat);
                        font-size: var(--font-size-medium);
                        padding: .4rem .7rem;
                        background-color: transparent;
                        border: calc(var(--font-size-medium) / 12) solid var(--color-negro);
                        border-radius: 2rem;
                        cursor: pointer;
                        overflow: hidden;
                        position: relative;
                        transition: 0.3s cubic-bezier(0.83, 0, 0.17, 1);

                        .texto {
                            color: var(--color-negro);
                            font-weight: var(--font-weight-medium);
                            position: relative;
                            z-index: 1;
                            transition: color 0.7s cubic-bezier(0.83, 0, 0.17, 1);

                        }

                        &::after {
                            content: "";
                            width: 0;
                            height: calc(300% + 1em);
                            position: absolute;
                            translate: -50% -50%;
                            inset: 50%;
                            rotate: 30deg;

                            background-color: var(--color-negro);
                            transition: 1000ms cubic-bezier(0.83, 0, 0.17, 1);
                        }

                        &:hover {
                            .texto {
                                color: var(--color-blanco);
                            }

                            &::after {
                                width: calc(120% + 1em);
                            }
                        }

                        &:active {
                            scale: 0.98;
                            filter: brightness(0.9);
                        }
                    }


                }

            }

        }
    }

}

@media (max-width: 768px) {
    .main-contenedor {
        margin-left: 0;
        padding-left: 1rem;
    }

    .tienda-productos {
        grid-template-columns: repeat(auto-fit, 12rem);
        padding: 1rem 1rem 1rem 0;
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .tienda-productos {
        grid-template-columns: repeat(auto-fit, 10rem);
        gap: 1rem;
        padding: 0.5rem 0.5rem 0.5rem 0;
        justify-content: center;
    }
}

.footer {
    width: 100%;
    background-color: var(--color-negro);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .footer-social {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        .logo-principal {
            width: 60px;
            margin: 1rem 0;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            cursor: pointer;

            .logo-principal__img {
                width: 100%;
                padding-top: .25rem;
                object-fit: contain;
            }

            .logo-principal__text {
                color: var(--color-blanco);
                font-family: var(--font-family-montserrat);
                font-size: var(--font-size-small);
                font-weight: var(--font-weight-regular);
            }
        }

        .footer-social__icons {
            p {
                color: var(--color-blanco);
                font-family: var(--font-family-montserrat);
                font-family: var(--font-size-xsmall);
                font-weight: var(--font-weight-regular);
                margin-bottom: .3rem;
            }

            a {
                color: var(--color-blanco);
                text-decoration: none;
                cursor: pointer;

                i {

                    font-size: var(--font-subtitle);
                }
            }
        }


    }

    .footer-copy {
        width: 100%;
        height: 30px;
        text-align: center;
        color: var(--color-gris-oscuro);
        font-family: var(--font-family-montserrat);
        font-size: var(--font-size-small);

    }

}

/* Mobile (menos de 480px) */
@media (max-width: 480px) {
    .footer {

        .footer-copy {
            font-size: var(--font-size-xsmall);
        }
    }
}