
:root{

    /* --- Fuentes ---*/
    // -- family
    --font-family-inter: 'Inter', sans-serif;
    --font-family-montserrat: 'Montserrat', sans-serif;
    --font-family-roboto: 'Roboto', sans-serif;
    // -- size
    --font-size-xsmall: .75rem;
    --font-size-small: .875rem;
    --font-size-medium: 1rem;
    --font-size-large: 1.25rem;
    --font-title: clamp(2rem, 5vw, 3.5rem);
    --font-subtitle: clamp(1.25rem, 3vw, 1.5rem);
    --font-h1: clamp(3.5rem, 7vw, 4.5rem);
    --font-h2: clamp(2.5rem, 5vw, 3.5rem);
    // -- weight
    --font-weight-light: 200;
    --font-weight-regular: 400;
    --font-weight-medium: 700;
    --font-weight-bold: 900;

    /* --- Colores ---*/
    --color-negro: #000000;
    --color-blanco: #fff; 
    --color-gris-claro: #f7f7f7;
    --color-gris-tenue: #dbdbdb;
    --color-gris-oscuro: #aca9a9;
    --color-gris-profundo: #575757;

}